affine==2.4.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.6.2
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contextily==1.6.0
contourpy==1.2.1
cycler==0.12.1
Django==4.2.7
django-grappelli==4.0.1
django-suit==0.2.28
fiona==1.9.6
fonttools==4.53.0
geographiclib==2.0
geopandas @ git+https://github.com/geopandas/geopandas.git@29ecff215bd060710836b4d1c1932dc5980935cc
geopy==2.4.1
idna==3.7
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.0
mercantile==1.2.1
msgpack==1.0.8
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
pyogrio==0.8.0
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
rasterio==1.3.10
redis==5.0.4
requests==2.32.3
Rtree==1.2.0
shapely==2.0.4
six==1.16.0
snuggs==1.4.7
sqlparse==0.4.4
tenacity==8.3.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
xyzservices==2024.6.0
