
{% extends 'base/base.html' %}
{% load static %}

{% block title %}User Details{% endblock title %}

{% block breadcrumb %}
Карта
{% endblock breadcrumb %}

{% block content %}
<html>
<head>
    <title>Карта</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 600px;"></div>
    <script>
        var map = L.map('map').setView([55.751244, 37.618423], 10);  // Центр Москвы
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        var geojsonData = {{ geojson_data|safe }};
        L.geoJSON(geojsonData).addTo(map);
    </script>
</body>
</html>
{% endblock content %}<!DOCTYPE html>
