
{% extends 'base/base.html' %}
{% load static %}

{% block title %}User Details{% endblock title %}

{% block breadcrumb %}
Карта
{% endblock breadcrumb %}

{% block content %}
<html>
<head>
    <title>Карта</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <h1>Первичный GeoJSON из линий</h1>
      {{ plotly_data|safe }}
</body>
</html>
{% endblock content %}<!DOCTYPE html>
