
{% extends 'base/base.html' %}
{% load static %}

{% block title %}User Details{% endblock title %}

{% block breadcrumb %}
Карта
{% endblock breadcrumb %}

{% block content %}
<html>
<head>
    <title>Карта</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <h1>Результат в полигонах</h1>
    <div id="plotly-container">{{ plotly_data|safe }}</div>
    <div id="loader" style="display: block;">
        <p>Загрузка...</p>
    </div>

    <script>
        // Здесь вместо данных plotly_data должны быть данные, которые вы хотите загрузить
        // Сейчас они загружены прямо в шаблон, но вы можете изменить это, чтобы данные загружались асинхронно

        // Скрыть надпись "Загрузка..." после загрузки страницы
        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('loader').style.display = 'none';
        });
    </script>

    <!-- Сохранение карты высот -->
    <button id="download-button" class="btn btn-primary">
        Сохранить карту высот
    </button>
      
    <div id="download-status">
        <h6>Статус файла: <span id="download-status-value">...</span></h6>
    </div>
    <div id="download-time">
        <h6>Время выполнения: <span id="download-time-value">...</span> сек.</h6>
    </div>

      <script>
        let downloadTime = 0;
        let downloadInterval = null;

        document.getElementById('download-button').addEventListener('click', function() {
            
            document.getElementById('download-status-value').innerHTML = "Подготовка файла...";

            // Обнуляем время выполнения и запускаем интервал
            downloadTime = 0;
            downloadInterval = setInterval(function() {
            downloadTime++;
            document.getElementById('download-time-value').innerHTML = downloadTime;
            }, 1000);

            fetch('{% url "filemanager:download_heightmap_file" file_id %}', {
                method: 'GET',
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = '{% url "filemanager:download_heightmap_file" file_id %}';
                a.click();
                window.URL.revokeObjectURL(url);

                document.getElementById('download-status-value').innerHTML = "Файл готов. Скоро начнётся скачивание.";

                // Останавливаем интервал
                clearInterval(downloadInterval);
            });
        });
      </script>

</body>
</html>
{% endblock content %}<!DOCTYPE html>
